<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JBusandroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".intent.manage.AddStationActivity"
            android:exported="false" />
        <activity
            android:name=".intent.order.history.HistoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".intent.order.history.HistoryListActivity"
            android:exported="false" />
        <activity
            android:name=".intent.cancel.CancelBusDetailActivity"
            android:exported="false" />
        <activity
            android:name=".intent.cancel.CancelBusActivity"
            android:exported="false" />
        <activity
            android:name=".intent.order.MakeBookingActivity"
            android:exported="false" />
        <activity
            android:name=".intent.order.OrderBusActivity"
            android:exported="false" />
        <activity
            android:name=".intent.manage.AddBusActivity"
            android:exported="false" />
        <activity
            android:name=".intent.renter.ManageBusActivity"
            android:exported="false" />
        <activity
            android:name=".intent.manage.BusScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".intent.renter.RegisterRenterActivity"
            android:exported="false" />
        <activity
            android:name=".intent.landing.AboutMeActivity"
            android:exported="false" />
        <activity
            android:name=".intent.landing.MainActivity"
            android:exported="false" />
        <activity
            android:name=".intent.landing.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".intent.landing.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>